/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'PtSans';
  src: url("assets/font/PTSans-Regular.ttf");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}
a:link, a:visited {
  color: white;
  text-decoration: none;
}
